@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap");

*,
a,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Space Grotesk;
}

.banner {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1001px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        background: linear-gradient(90deg, #001F3F 0%, rgba(0, 31, 63, 0) 100%);

    }

    .banner-main {
        display: flex;
        align-items: center;
        position: relative;

        .banner-content {
            position: relative;

            .banner-title {
                position: absolute;
                width: 694px;
                height: 200px;
                top: 180px;
                font-style: normal;
                font-weight: 700;
                font-size: 80px;
                line-height: 100px;
                color: #FFFFFF;
            }

            .banner-pera {
                position: absolute;
                width: 652px;
                height: 78px;
                // left: 375px;
                top: 440px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #F6F7F8;
            }

            .bTn {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 205px;
                height: 60px;
                top: 570px;

                background: #FFFFFF;
                border-radius: 50px;

                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                text-transform: uppercase;
                color: #001F3F;
                transition: .4s;

                .btn-icon {
                    transition: .4s;
                }

                &:hover {
                    background: #FF5A30;
                    color: #FFFFFF;

                    .btn-icon {
                        filter: brightness(0) invert(1);
                    }
                }

            }
        }

        .banner-profile-main {
            position: absolute;
            width: 657px;
            height: 692px;
            left: 690px;
            top: 70px;

            .banner-profile {

                // position: absolute;
                // width: 657px;
                // height: 692px;
                // left: 673px;
                // top: 70px;
                width: 528px;
                height: 692px;
                margin: auto;

                .banner-profile-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .banner-chart {
                    position: absolute;
                    top: 140px;
                    right: 24px;
                    width: 189px;
                    height: 117px;
                    border-radius: 5px;

                    .banner-chart-img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        object-fit: cover;
                    }
                }

                .banner-hire {
                    position: absolute;
                    left: -17px;
                    bottom: 10px;
                    width: 200px;
                    height: 124px;
                    border-radius: 5px;

                    .banner-hire-img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.banner-card {
    margin-top: -100px;

    .banner-card-main {
        display: flex;
        gap: 30px;

        .card-body {
            padding: 30px;
            width: 370px;
            height: 230px;
            border-radius: 20px;
            border-bottom: 4px solid #001F3F;
            text-align: center;
            position: relative;
            background: #FFFFFF;
            box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
            transition: .4s;

            .card-icon-main {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #001F3F;
                height: 100px;
                width: 100px;
                border-radius: 100%;
                top: -50px;
                left: 38%;
                transition: .4s;

                .card-icon {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .banner-card-title {
                padding-top: 40px;

                a {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 30px;
                    color: #001F3F;
                }
            }

            .banner-card-pera {
                margin-top: 10px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #435970;


            }

            &:hover {
                border-bottom: 4px solid #FF5A30;

                .card-icon-main {
                    background: #FF5A30;
                }
            }
        }
    }
}